<!DOCTYPE html>
<html lang="utf-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<th:block th:replace="~{fragement/MemberManager/MemberMainHead :: headFragment}"></th:block>
<style>

</style>
<body>
    <div class="container">
        <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">회원가입</h4>
                <form class="validation-form" novalidate>
                    <div class="mb-3">
                        <label for="name">이름</label>
                        <input type="text" class="form-control" id="name" placeholder="" value="" required>
                        <div class="invalid-feedback"> 이름을 입력해주세요. </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">이메일</label>
                        <input type="email" class="form-control" id="email" placeholder="your@example.com" required>
                        <div class="invalid-feedback"> 이메일을 입력해주세요. </div>
                    </div>
                    <div class="mb-3">
                        <label for="address2">회사이름</label>
                        <input type="text" class="form-control" id="address2" placeholder="회사이름을 입력해주세요." required>
                        <div class="invalid-feedback"> 회사이름을 입력해주세요. </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="aggrement" required>
                        <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                    </div>
                    <div class="mb-4"></div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
                    <button class="btn btn-secondary btn-lg btn-block"><a href="../" target="_self" style="color: white !important;">메인 으로</a></button>
                </form>
            </div>
        </div>
        <footer class="my-3 text-center text-small">
            <p class="mb-1">&copy; 2021 YD</p>
        </footer>
    </div>
</body>
<script src="../js/sign.js"></script>
</html>