<!DOCTYPE html>
<html lang="utf-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>yeongroke developer</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />

        <!-- jquery -->
        <script src="../js/jquery_v3.js"></script>
        <script src="../js/ajax_set_config.js"></script>

        <link href="../css/member_sub.css" rel="stylesheet"/>

        <!-- chart.js 라이브러리 -->
        <script src="../js/chart/Chart.js"></script>
        <script src="../js/chart/Chart.bundle.js"></script>
        <script src="../js/chart/Chart.bundle.min.js"></script>
        <script src="../js/chart/Chart.min.js"></script>

        <!-- chart.js css -->
        <link href="../css/chart/chart.css" rel="stylesheet"/>
        <link href="../css/chart/chart.min.css" rel="stylesheet"/>

        <!-- sweetalertjs -->
        <script src="../js/sweetalert.js"></script>
        <link href="../css/swiper.min.css" rel="stylesheet"/>
    </head>
</th:block>
