<!DOCTYPE html>
<html lang="utf-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<th:block th:fragment="MonitoringFragment">
    <section class="page-section" id="Monitoring">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Monitoring</h2>
                <h3 class="section-subheading text-muted">Continue</h3>
            </div>
            <ul class="timeline">
                <li>
                    <!--<iframe src="rokidev.com:3000/d/LV8E70M7k/node-exporter-full?orgId=1&refresh=5s&var-DS_PROMETHEUS=Prometheus&var-job=node_exporter&var-node=3.143.102.0:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B&from=1628313775844&to=1628314075844">-->
                </li>
            </ul>
        </div>
    </section>
</th:block>
</html>
