<!DOCTYPE html>
<html lang="utf-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<th:block th:replace="~{fragement/index/UserMainHead :: headFragment}"></th:block>
<body id="page-top">
<!-- Navigation-->
<th:block th:replace="~{fragement/index/UserMainTop :: topFragment}"></th:block>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Hello, My Name is 김영록</div>
        <div class="masthead-subheading">Sorry, An error occurred</div>
        <div class="masthead-subheading">error page was displayed</div>
    </div>
</header>
</body>
</html>
